@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navback{
  background-color: #141E46;
  padding: 30px;
  max-width: 1475px;
}

.mid_nav{
  background-color: #141E46;
  padding: 5px 5px 5px 15px;
  color: white;
  display: none;
}

.navbar{
  /* background-color: #8DECB4; */
  background-color: #41B06E;
  padding: 10px;
  max-width: 80%;
  position: relative;
  margin-top: -40px;
  margin-left: 10%;
  border-radius: 20px;
}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin: 0px 0px 0px 15%;
  font-size: 18px;
  max-width: 60%;
  display: inline;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
}

.navbar ul li::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: aliceblue;
  transition: width .5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

@media (max-width:376px){

  .mid_nav{
    display: block;
  }

  .navback, .navbar{
    display: none;
    display: none;
  }
}

@media (max-width:426px){

  .mid_nav{
    display: block;
  }

  .navback, .navbar{
    display: none;
    display: none;
  }
}